{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags("changePassword") }}
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {% for alertMessage in app.flashes("errorResetPassword") %}
        <div id="passwordResetError">{{ alertMessage }}</div>
    {% endfor %}

        <h2>Reset your password</h2>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("changePassword") }}
{% endblock %}
