{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags("forgotPassword") }}
{% endblock %}

{% block title %}Forgot your password ?{% endblock %}

{% block body %}
    <form method="post">
        {% for alertMessage in app.flashes("alert") %}
            <div class="mailIndication">{{ alertMessage }}</div>
        {% endfor %}

        {% for alertMessage in app.flashes("success") %}
            <div class="mailIndication">{{ alertMessage }}</div>
        {% endfor %}

        <h2>Change your password</h2>

        <p id="resetPasswordIndication">
            A link will be sent to you by email.<br>
            By clicking on it, you can change your password.
        </p>

        <p>
            <input type="email" name="email" id="inputEmail" placeholder="Email" required autofocus>
        </p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Send</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("forgotPassword") }}
{% endblock %}
