<section id="slider">
    <div id="sliderContent">
        <p id="sliderProjectTitle" class="invisible"></p>

        <div id="sliderImgContainer" class="invisible">
            <div id="sliderScrollable"></div>
        </div>

        <div id="sliderDefault">
            <div id="sliderDefaultMobile">
                <p>
                    <img src="{{ asset("build/images/arrowTop_black.79f1f5d5.png") }}" alt="Project Select Indicator" /><br>
                    Select a project
                </p>

                <p>
                    Margaux. 25. Artistic<br>
                    director. Based in<br>
                    Lille, France. Creative.
                </p>
            </div>

            <canvas id="drawToMakeAppear">
            </canvas>

            <div id="textHiddenContainer">
                <p>
                    Margaux <span class="specialsChars"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand2"/></span>. 25 <span class="specialsChars"><img src="{{ asset("build/images/victory_white.329ceaa5.png") }}" alt="Victory" class="victory"/></span>. Artistic director <span class="specialsChars"><img src="{{ asset("build/images/star_white.1ed60e45.png") }}" alt="Star" class="star"/></span>.<br>
                    Based in Lille, France <span class="specialsChars"><img src="{{ asset("build/images/mail_white.45dce509.png") }}" alt="Mail" class="mail"/></span>. Creative.<br>
                    <span class="specialsChars"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand2"/></span> Passionate about reflection and<br>
                    issues around design. Write <span class="specialsChars"><img src="{{ asset("build/images/write_white.44db1690.png") }}" alt="Write" class="write"/></span>. Love<br>
                    subversive &#9747; and sensitive design.<br>
                    Think. Creative again and again <span class="specialsChars"><img src="{{ asset("build/images/arrow_white.ff39f8ce.png") }}" alt="Arrow" class="arrow"/></span>.

                    <span id="copyOfTextHidden">
                        Margaux <span class="haveToDisapear"><img src="{{ asset("build/images/hand_black.41fa0c36.png") }}" alt="Hand right" class="hand2"/></span>. 25 <span class="haveToDisapear"><img src="{{ asset("build/images/victory_black.ac2a08e4.png") }}" alt="Victory" class="victory"/></span>. Artistic director <span class="haveToDisapear"><img src="{{ asset("build/images/star_black.69a8bba9.png") }}" alt="Star" class="star"/></span>.<br>
                        Based in Lille, France <span class="haveToDisapear"><img src="{{ asset("build/images/mail_black.31c4f620.png") }}" alt="Mail" class="mail"/></span>. Creative.<br>
                        <span class="haveToDisapear"><img src="{{ asset("build/images/hand_black.41fa0c36.png") }}" alt="Hand right" class="hand2"/></span> Passionate about reflection and<br>
                        issues around design. Write <span class="haveToDisapear"><img src="{{ asset("build/images/write_black.89c3051e.png") }}" alt="Write" class="write"/></span>. Love<br>
                        subversive <span class="x haveToDisapear">&#9747;</span> and sensitive design.<br>
                        Think. Creative again and again <span class="haveToDisapear"><img src="{{ asset("build/images/arrow_black.c91bed80.png") }}" alt="Arrow" class="arrow"/></span>.
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>