<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="description" content="Margaux Passot, 25 ans, directrice artistique basée à Lille, France.">
        <link rel="shortcut icon" type="image/png" href="{{ asset("build/images/fav.187e3028.png") }}">

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.margauxpassot.com" />
        <meta property="og:title" content="Margaux Passot - Directrice Artistique - Lille/France - Works">
        <meta property="og:description" content="Margaux Passot, 25 ans, directrice artistique basée à Lille, France." />
        <meta property="og:image" content="{{ asset("build/images/shareImg.258f5eb9.jpg") }}" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://www.margauxpassot.com" />
        <meta property="twitter:title" content="Margaux Passot - Directrice Artistique - Lille/France - Works" />
        <meta property="twitter:description" content="Margaux Passot, 25 ans, directrice artistique basée à Lille, France." />
        <meta property="twitter:image" content="{{ asset("build/images/shareImg.258f5eb9.jpg") }}" />

        <title>
            {% block title %}
                Margaux Passot - Directrice Artistique - Lille/France - Works
            {% endblock %}
        </title>

        {{ encore_entry_link_tags("app") }}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="totalPageContent">
            {{ include("components/header.html.twig") }}

            <main>
                {% block body %}{% endblock %}
            </main>

            {% block footer %}{% endblock %}
        </div>

        {{ encore_entry_script_tags("app") }}
        {% block javascripts %}{% endblock %}
    </body>
</html>