<footer>
    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter1"><img src="{{ asset("build/images/smile_white.95fcc7de.png") }}" alt="Smile" class="head"/></span> HELLO ! <span class="specialsCharsFooter2"><img src="{{ asset("build/images/hand_white.e887120d.png") }}" alt="Hand right" class="hand"/></span> (+33)6 60 55 25 22
        </p>
    </div>
</footer>