<div id="sidebar">
    <div id="sidebarContent">
        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div class="projects">
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>

        <div>
            <h2 class="projectsNonSelected">{{ "Project Title !" | upper }}</h2>
            <p>
                <span>[Project Description]</span><br>
                <span>[Date]</span>
            </p>
        </div>
    </div>
</div>