{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags("projectNew") }}
{% endblock %}

{% block title %}{{ parent() }}New project{% endblock %}

{% block body %}
    <div id="container">
        <div id="scrollable">
            <h2>Create a new project</h2>

            {{ include("form/projectForm.html.twig") }}
        </div>

        <div id="returnListProjectControllerContainer">
            <p>
                <a href="{{ path('projects_index') }}">Return to your projects list</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("projectNew") }}
{% endblock %}
